@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --color-dark-background-primary: #0f0f0f;
  --color-dark-background-secondary: #1d1d1d;
  --color-dark-background-tertiary: #2f2f2f;
  --color-dark-background-white: #dfdfdf;
  --color-dark-text-primary: #dfdfdf;
  --color-dark-text-secondary: #1d1d1d;
  --color-dark-text-link: #00bfff;

  --color-light-background-primary: #dfdfdf;
  --color-light-background-secondary: #e8e4f0;
  --color-light-background-tertiary: #f6f6f6;
  --color-light-background-black: #0f0f0f;
  --color-light-text-primary: #1d1d1d;
  --color-light-text-secondary: #dfdfdf;
  --color-light-text-link: #0044ee;

  --breakpoint-pricingTable: 712px;
}
.title {
  @apply text-transparent bg-clip-text;
  background-image: linear-gradient(
    90deg,
    hsl(270, 90%, 50%) 0%,
    hsl(270, 100%, 60%) 100%
  );
}
.advice {
  @apply bg-clip-text text-light-text-link dark:text-dark-text-link underline;
}
.form {
  @apply gap-2 flex flex-col top-0 left-0 w-full h-full min-h-72 overflow-auto;

  transition: translate 0.3s ease, opacity 0.3s ease;
}

p {
  overflow-wrap: anywhere;
  text-wrap: pretty;
}

@layer utilities {
  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-spinner {
    animation: spinner 1.2s linear infinite;
    transform-origin: 40px 40px;
  }
}
